<!-- Mystical background particles and blinking stars -->
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="blinking-star" style="left: 5%; top: 15%;">⭐</div>
<div class="blinking-star" style="right: 8%; top: 25%;">✨</div>
<div class="blinking-star" style="left: 15%; top: 45%;">🌟</div>
<div class="blinking-star" style="right: 20%; top: 55%;">⭐</div>
<div class="blinking-star" style="left: 25%; top: 75%;">✨</div>
<div class="blinking-star" style="right: 12%; bottom: 30%;">🌟</div>
<div class="blinking-star" style="left: 8%; bottom: 45%;">⭐</div>
<div class="blinking-star" style="right: 25%; bottom: 15%;">✨</div>
<div class="blinking-star" style="left: 60%; top: 20%;">🌟</div>
<div class="blinking-star" style="left: 75%; top: 65%;">⭐</div>
<div class="blinking-star" style="right: 45%; top: 35%;">✨</div>
<div class="blinking-star" style="left: 45%; bottom: 25%;">🌟</div>

<div class="container">
  <app-header></app-header>

  <router-outlet></router-outlet>
</div>
