<app-flavor-grid
    [selectedFlavors]="selectedFlavors"
    (selectedFlavorsChange)="onSelectedFlavorsChange($event)">
</app-flavor-grid>

<app-fanciness-slider
    [fanciness]="selectedFanciness"
    (fancinessChange)="onFancinessChange($event)">
</app-fanciness-slider>

<app-alcohol-selector
    [selectedAlcohols]="selectedAlcohols"
    (selectedAlcoholsChange)="onSelectedAlcoholsChange($event)">
</app-alcohol-selector>

<app-mood-meter
    [selectedMoods]="selectedMoods"
    (selectedMoodsChange)="onSelectedMoodsChange($event)">
</app-mood-meter>

<app-drink-description
[description]="description"
(descriptionChange)="onDescriptionChange($event)">
</app-drink-description>

<app-cocktail-preview
[description]="description"
[selectedFlavors]="selectedFlavors"
[selectedAlcohols]="selectedAlcohols"
[selectedMoods]="selectedMoods"
[fanciness]="selectedFanciness">
</app-cocktail-preview>

<app-button
  text="Brew My Elixir"
  icon="✨"
  [loading]="isGenerating"
  loadingText="Conjuring..."
  loadingIcon="🔮"
  variant="primary"
  (action)="onGenerateCocktail()">
</app-button>